/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.bg-cover {
    background-size: cover !important;
}

.container-img img{
    align-items: center !important;
    height: 60%;
    width: 60%;
    margin-left: 20rem;
    margin-bottom: 5rem;
}

.container-img h3{
    margin-left: 16rem;
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

/**/

