/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.bg-cover {
    background-size: cover !important;
}

.container-img img{
    align-items: center !important;
    height: 60%;
    width: 60%;
    margin-bottom: 2rem;
}

.container-img h3{
    margin-left: 16rem;
}

.boton-reserva{
    align-items: center;
    margin-left: 85vh;
}

.video-container{
    text-align: center;
}
/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

/**/

